<!DOCTYPE html>
<html>
<head>
	<title>Matthew Waliman</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<script src="https://use.fontawesome.com/e0617aea74.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <header id = 'main_navigation' class = 'clearfix'>
  	<%= link_to "Matthew Waliman", root_path, class: "name" %>
 	<nav>
 		<%= link_to "Blog", posts_path %>
 		<a href="projects.html">Projects</a>
 		<a href="#">Contact</a>
 	</nav>
 </header>

<%= yield %>

 <footer id='main_footer'>
 	<p class = 'copyright'> &copy; 2016 Matthew Waliman</p>
 	<nav>
 		<a href="http://twitter.com/themwaliman" target = "_blank"><i class="fa fa-twitter"></i></a>
 		<a href="http://github.com/mwaliman" target = "_blank"><i class="fa fa-github" ></i></a>
 		<a href="#" target = "_blank"><i class="fa fa-linkedin-square"></i></a>
 	</nav>
 </footer>

</body>

</html>
